body {
background-color: rgb(226,238,237);

        background-size: cover; /* Scale the image to cover the entire viewport */
     
        background-position: center ; /* Center the background image */
}
#first-bloc {
      background-image:url('backtitle.jpg');
background-size: cover; 
 background-position: center center; 
display: flex; 
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  
height: 300px
}
.title {
color: brown; /* Text color */
    font-size: 200px; /* Adjust the font size as needed */
 text-shadow: 
        -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white; /* Text outline with a 1px white shadow in all directions */
}
#meltedchoco {
        background-image:url('melted-chocolate.png');
background-size: cover; 
 background-position: center center; 
display: flex; 
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

}
  /* Sidebar links styling */
  .sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white; /* Link text color */
    display: block; /* Display links as block elements for full width */
  }

  /* Sidebar link hover effect */
  .sidebar a:hover {
    background-color: #555; /* Background color on hover */
  }
