.title {
    font: italic titling-caps bold 12px/16px verdana;
    font-size: 100px;
    color: #DCCEB6;
    -webkit-text-stroke: 0.3px black;
}

#first-bloc {
    background-image: url("backtitle.jpg");
    background-position: top center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #636363;
}

.menu {
    background-color: #D2D1C5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid #636363; /* Le plus grand z-index est le plus proche du premier plan */
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu li {
    display: inline-block;
    font-size: 25px;
    margin: 0 100px 0 100px;
}

.menu a {
    text-decoration: none;
    color: black;
}

/* Styles spécifiques pour le logo */
.menu a img {
    border: none; /* Supprime le cadre par défaut sur les images dans les liens */
}

ul {
    list-style: none;
    display: flex;
}

li {
    font-size: 25px;
    margin: 0 20px; /* Ajusté la marge pour un espacement plus raisonnable */
}

a {
    text-decoration-style: none;
    color: #4A3D0C;
}

a:hover {
    color: #EBC37E;
}

img[alt=logo] {
    margin-top: 50px;
    height: 100px;
    border: 2px solid #E3DDDD;
}

body {
    background-color: #F3E8C3;
    font-family: Georgia, serif;
}

h2 {
    font-size: 70px;
    text-align: center;
}
#our-team h2 {
    color: white;
    font-size: 70px;
    text-align: center;
}


button {
    background-color: #f6faf6;
    color: rgb(7, 5, 5);
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

header,
footer {
    margin-top: 30px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.25em;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#section_commande {
    background: linear-gradient(to right, #4caf50, #2196f3); /* Dégradé de couleur de fond */
    color: #0c0b0b; /* Couleur du texte pour une meilleure visibilité sur le fond coloré */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url("commande.png"); /* Ajoutez le chemin de votre image de fond */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir la section */
    background-position: center; /* Centre l'image dans la section */
}

#commandeForm {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color:#080808;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Style spécifique pour le champ de quantité */
#quantite {
    width: 60px;
}

/* Style pour rendre le formulaire réactif */
@media screen and (max-width: 600px) {
    input {
        width: calc(100% - 20px);
    }

    #quantite {
        width: 100%;
    }
}

#announcementBanner {
    background-color: #ffcc00;
    color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none; /* Masquer initialement la bande d'annonce */
}

#announcementBanner p {
    margin: 0;
    font-size: 16px;
}

#announcementBanner button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.table-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 22%; /* Adjust as needed based on your design */
    box-sizing: border-box;
}

.card img {
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
#our-team h3{
    color: white;
    font-size: 40px;
    text-align: center;
}
#first-chef, #second-chef, #third-chef{
    align-items: center;
    text-align: center;
    margin: 0 15px 0 15px;
}
#our-team{
    padding-top: 30px;
    background-image: url("wavybg.png");
    background-size: cover; /* This will make sure the entire image covers the element */
    background-repeat: no-repeat;

}
#our-store h2{
    padding-top: 200px;
}
#our-store{
    align-items: center;
    margin-top: -10px;
    text-align: center;
    background-image: url("wavybginv.png");
    background-size: 100% 90%; 
    background-repeat: no-repeat;
    color:black;

}
#store{
    position: relative;
    top: -70px;
}
#our-store p{
    position: relative;
    top: -100px;
}
#chefs{
 display: flex;

}
p b{
    font-size: 20px;
}

